
@{
    ViewBag.Title = "Buscar Suscripcion";
}

<h2>Buscar Suscripcion</h2>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Suscripcion", "BuscarSuscripcion", "Suscripcion")</li>
            <li class="active">Buscar </li>
        </ol>
    </div>
</div>

